@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.yes {
  max-width: 100%;
  height: 100%;
  border-radius: 50px;
  margin: 3rem;

}

.flex-testing {
  display: flex;
  margin: auto;
  /* width: 500px; */
  justify-content: flex-start;
}

.flex-child {
  padding: 50px;
  margin: auto
  
}


